{% extends "base.html" %}
{% load static %}

{% block title %}
{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}" />

<style>
  /* Keep your custom CSS here if needed */
  #locationPermissionMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200%;
    margin-top: 150px; /* Adjust as needed */
  }
</style>

<div class="container-fluid">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-6 col-lg-4">
      <div class="text-center">
        <img src="{% static 'media/atm_images/logo.png' %}" alt="Logo" class="img-fluid">
      </div>
      <div id="locationPermissionMessage" style="display: none;">
        <p>Please allow location access to continue.</p>
        <button onclick="requestLocationPermission()">Allow Location Access</button> 
      </div>
    </div>
  </div>
</div>

<script>
  // Function to request location permission
          function requestLocationPermission() {
            if ('geolocation' in navigator) {
              navigator.geolocation.getCurrentPosition(
                function(position) {
                  // Location permission granted, redirect after 5 seconds
                  setTimeout(function() {
                    window.location.href = "{% url 'atm' %}";
                  }, 5000);

                  // Display latitude and longitude in console
                  console.log("Latitude: " + position.coords.latitude);
                  console.log("Longitude: " + position.coords.longitude);
                },
                function(error) {
                  // Location permission denied or unavailable
                  document.getElementById("locationPermissionMessage").style.display = "block";
                }
              );
            } else {
              // Geolocation not supported
              document.getElementById("locationPermissionMessage").style.display = "block";
            }
          }

  // Request location permission on page load
  requestLocationPermission();
</script>

{% endblock content %}
