{% extends "base.html" %}
{% load static %}

{% block title %}
{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<style>
  /* Custom CSS can go here if needed */
</style>

<div class="container-fluid">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-6 col-lg-4">
      <div class="text-center">
        <img src="{% static 'media/atm_images/logo.png' %}" alt="Logo" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<script>
  var homepageUrl = "{% url 'home' %}";
  var API_KEY = 'AIzaSyBRlMEwBmyJscVdr0ZVc8OG8hBVJaeIV3Q';

  // Function to request location permission
  function requestLocationPermission() {
    if ('geolocation' in navigator) {
      navigator.geolocation.getCurrentPosition(
        function(position) {
          var latitude = position.coords.latitude;
          var longitude = position.coords.longitude;

          localStorage.setItem('userLatitude', latitude);
          localStorage.setItem('userLongitude', longitude);

          // Fetch the address using the Google Geocoding API
          fetchAddress(latitude, longitude);

          // Location permission granted, redirect after 5 seconds
          setTimeout(function() {
            window.location.href = "{% url 'atm' %}";
          }, 5000);

          // Display latitude and longitude in console
          console.log("Latitude: " + latitude);
          console.log("Longitude: " + longitude);
        },
        function(error) {
          // Use Google Maps Geolocation API as fallback
          fetchGoogleGeolocation();
        },
        {
          enableHighAccuracy: true, // Request high accuracy
          timeout: 30000, // Increase timeout to 30 seconds
          maximumAge: 0 // Do not use a cached position
        }
      );
    } else {
      // Geolocation not supported
      handleGeolocationError();
    }
  }

  // Function to handle geolocation error
  function handleGeolocationError() {
    // Show SweetAlert for geolocation error
    Swal.fire({
      icon: "error",
      title: "Oops...",
      text: "You have denied the location permission. You will be redirected to the homepage.",
      confirmButtonText: "OK"
    }).then((result) => {
      if (result.isConfirmed) {
        // Redirect to home page
        window.location.href = homepageUrl;
      }
    });
  }

  // Function to fetch address using Google Geocoding API
  function fetchAddress(latitude, longitude) {
    var geocoder = new google.maps.Geocoder();
    var latlng = { lat: parseFloat(latitude), lng: parseFloat(longitude) };
    
    geocoder.geocode({ 'location': latlng }, function(results, status) {
      if (status === 'OK') {
        if (results[0]) {
          console.log("Address: " + results[0].formatted_address);
          // You can store the address in localStorage or perform other actions
          localStorage.setItem('userAddress', results[0].formatted_address);
        } else {
          console.log('No results found');
        }
      } else {
        console.log('Geocoder failed due to: ' + status);
      }
    });
  }

  // Function to fetch location using Google Maps Geolocation API
  function fetchGoogleGeolocation() {
    fetch(`https://www.googleapis.com/geolocation/v1/geolocate?key=${API_KEY}`, {
      method: 'POST'
    })
    .then(response => response.json())
    .then(data => {
      var latitude = data.location.lat;
      var longitude = data.location.lng;

      console.log(latitude, longitude, '___________+++')

      localStorage.setItem('userLatitude', latitude);
      localStorage.setItem('userLongitude', longitude);

      // Fetch the address using the Google Geocoding API
      fetchAddress(latitude, longitude);

      // Location permission granted, redirect after 5 seconds
      setTimeout(function() {
        window.location.href = "{% url 'atm' %}";
      }, 5000);

      // Display latitude and longitude in console
      console.log("Latitude: " + latitude);
      console.log("Longitude: " + longitude);
    })
    .catch(error => {
      console.error('Error fetching location from Google Maps Geolocation API:', error);
      handleGeolocationError();
    });
  }

  // Check geolocation permission on page load
  requestLocationPermission();
</script>

<!-- Load the Google Maps JavaScript API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRlMEwBmyJscVdr0ZVc8OG8hBVJaeIV3Q"></script>

{% endblock content %}
