{% extends "base.html" %}
{% load static %}

{% block title %}
{% endblock title %}

{% block content %}
<link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
<link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}" />

<style>
  /* Keep your custom CSS here if needed */
  #locationPermissionMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200%;
    margin-top: 150px; /* Adjust as needed */
  }
</style>

<div class="container-fluid">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-6 col-lg-4">
      <div class="text-center">
        <img src="{% static 'media/atm_images/logo.png' %}" alt="Logo" class="img-fluid">
      </div>
      <div id="locationPermissionMessage" style="display: none;">
        <p>Please allow location access to continue.</p>
        <button onclick="requestLocationPermission()">Allow Location Access</button> 
      </div>
    </div>
  </div>
</div>

<script>

  var homepageUrl = "{% url 'home' %}";

  // Function to request location permission
  function requestLocationPermission() {
    if ('geolocation' in navigator) {
      navigator.geolocation.getCurrentPosition(
        function(position) {
          localStorage.setItem('userLatitude', position.coords.latitude);
          localStorage.setItem('userLongitude', position.coords.longitude);
  
          // Location permission granted, redirect after 5 seconds
          setTimeout(function() {
            window.location.href = "{% url 'atm' %}";
          }, 5000);
  
          // Display latitude and longitude in console
          console.log("Latitude: " + position.coords.latitude);
          console.log("Longitude: " + position.coords.longitude);
        },
        function(error) {
          // Location permission denied or unavailable
          alert("You have denied the location permission. You will be redirected to the homepage.");
          window.location.href = homepageUrl; // Adjust 'homepage' to your actual homepage URL
        },
        {
          enableHighAccuracy: true, // Request high accuracy
          timeout: 30000, // Increase timeout to 30 seconds
          maximumAge: 0 // Do not use a cached position
        }
      );
    } else {
      alert("Geolocation is not supported by your browser. You will be redirected to the homepage.");
      window.location.href = homepageUrl; // Adjust 'homepage' to your actual homepage URL
    }
  }
  
  // Request location permission on page load
  requestLocationPermission();
  
</script>




{% endblock content %}
