{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/login.css' %}">

<style>
    .welcome-container {
        text-align: center;
        margin-top: 150px;
    }

    h3 {
        font-family: 'Lora', serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.2;
        margin: 0;
        color: #1E2A3A;
    }

    .input-container {
        width: 80%;
        max-width: 335px;
        margin: 20px auto;
        padding: 10px;
        box-sizing: border-box;
    }

    input[type="text"] {
        width: 100%;
        height: 40px;
        border: 1px solid #E9E9EB;
        border-radius: 5px;
        padding: 5px;
        font-size: 16px;
    }

    .login-button-container {
        width: 80%;
        max-width: 335px;
        margin: 20px auto;
    }

    .login-button-container .btn {
        display: block;
        width: 100%;
        height: 50px;
        background-color: #FFC300;
        border-radius: 10px;
        text-align: center;
        line-height: 33px;
        color: #101729;
        text-decoration: none;
        {% comment %} font-weight: bold; {% endcomment %}
    }

    .login-button-container .btn:hover {
        background-color: #FFA500;
    }

    /* Media queries for tablet */
    @media only screen and (min-width: 200px) and (max-width: 767px) {
        .welcome-container {
            width: 100%;
            flex-direction: column;
        }
    }
</style>

<div class="welcome-container">
    <h3>Welcome back! Glad to see you again.</h3>
</div>

<div class="input-container">
    <input type="text" id="phone" name="phone" placeholder="Enter your mobile number" maxlength="10">
    <span id="errorMessage" style="color: red; display: none;">Please enter a valid ten-digit number.</span>
</div>

<div id="result"></div>

<script>
    console.log('js working')
    function sendOTP() {
        var phone = document.getElementById("phone").value;
        var atmid = "GS00001-2024-XYUG-V1-91"

         if (!phone.match(/^\d{10}$/)) {
            alert("Please enter a valid ten-digit mobile number.");
        } else {
            fetch("http://stg-api.goldatm.gold:3001/api/customer", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken")  
                },
                body: JSON.stringify({ "mobilenumber": phone, "atmid":atmid })
            })
            .then(response => response.json())
            .then(data => {
                // Redirect to OTP pagec
                console.log(data,'---coming')

               var url = "{% url 'categories' %}?phone=" + encodeURIComponent(phone);
                window.location.href = url; 
            });
        }
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

<div class="login-button-container">
    <button class="btn btn-warning" onclick="sendOTP()">Login</button>
</div>

{% endblock content %}
